
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}


<div class="container">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">
            <div>
                <a class="btn btn-success" asp-action="Create">Create</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Image
                        </th>
                      
                        <th>
                            Author
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var blog in Model)
                    {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            <img src="~/assets/img/blog/@blog.Image" style="width:50px;height:50px" alt="slider" />
                        </td>

                       
                        <td>
                            @blog.Author
                        </td>
                        <td>
                            @blog.Time;
                        </td>
                        <td>
                            @blog.Description;
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-id="@blog.Id">
                                Detail
                            </a>
                            <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@blog.Id">
                                Update
                            </a>
                            <form style="display:inline-block" method="post" asp-action="Delete" asp-route-id="@blog.Id">
                                <button class="btn btn-danger btn-sm" type="submit">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

