
@model List<Course>
@{
    ViewData["Title"] = "Course";
    int count = 1;
}


<div class="container">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">

            <div>
                <a class="btn btn-success" asp-action="Create">Create</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            About
                        </th>
                        <th>
                            Apply
                        </th>
                        <th>
                            Cerfication
                        </th>

                      



                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model)
                    {
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            <img src="~/assets/img/course/@course.Image" style="width:150px;height:130px" alt="slider" />
                        </td>
                        <td>
                            @course.Name
                        </td>
                        <td>
                            @course.Description.Substring(0,13) ...
                        </td>
                        <td>
                            @course.About.Substring(0, 13) ...
                        </td>
                        <td>
                            @course.Apply.Substring(0, 13) ...
                        </td>
                        <td>
                            @course.Certification.Substring(0, 13) ...
                        </td>

                        






                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Detail" asp-route-id="@course.Id">
                                Detail
                            </a>
                            <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@course.Id">
                                Update
                            </a>
                            <form style="display:inline-block" method="post" asp-action="Delete" asp-route-id="@course.Id">
                                <button class="btn btn-danger btn-sm" type="submit">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                        count++;
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>


