@model Event

@{
    ViewData["Title"] = "Detail";

}

<div class="container">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <th>
                                Image
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Header
                            </th>
                            <th>
                                DayTime
                            </th>

                            <th>
                                Location
                            </th>
                            <th>
                                Description
                            </th>
                            </thead>
                            <tbody>

                            <td>
                                <img src="~/assets/img/event/@Model.Image" style="width:150px;height:130px" alt="slider" />
                            </td>

                            <td>
                                <h3>@Model.Time</h3>
                            </td>


                            <td>
                                <h3>@Model.Header</h3>
                            </td>


                            <td>
                                <h3>@Model.DayTime</h3>
                            </td>


                            <td>
                                <h3>@Model.Location</h3>
                            </td>
                            <td>
                                <h3>@Model.Description</h3>
                            </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

